#contentCreateAccount{
	margin-top: 50vh;
	transform: translateY(-50%);
}

#nameApp{
  	color: #FFFFFF;
  	font-family: Arial, Helvetica, sans-serif;
  	margin-top:20px;
  	text-align: center;
}

#formCreateAccount{
	text-align:center;
	color: #FFFFFF;
}

#btnBack{
  margin-top: 20px;
  margin-left: 15px;
}

#selectOffer{
  display: inline-block;
}

.btnStyle{
  background: #000000;
  color:#FFFFFF;
  height: 7vh;
  border : solid 3px #FFFFFF;
  padding: 0px 12px 0px 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vh;
}

.btnStyle:hover{
    background: #CCCCCC;
}

@media (max-width: 480px) {
  .imgSizeSuperXs{
    height: 80px;
  }

  .textSizeSuperXs{
    font-size: 40px;
  }
}

@media (min-width: 480px) and (max-width:640px) {
  .imgSizeXs{
    height: 100px;
  }

  .textSizeXs{
    font-size: 50px;
  }
}

@media (min-width: 640px) and (max-width:768px) {
  .imgSizeXsBis{
    height: 120px;
  }

  .textSizeXsBis{
    font-size:60px;
  }
}

@media (min-width: 768px) and (max-width:992px) {
  .imgSizeSm{
    height: 170px;
  }

  .textSizeSm{
    font-size: 90px;
  }
}

@media (min-width: 992px) and (max-width:1200px) {
  .imgSizeMd{
    height: 180px;
  }

  .textSizeMd{
    font-size: 100px;
  }
}

@media (min-width: 1200px){
  .imgSizeLg{
    height: 200px;
  }

  .textSizeLg{
    font-size: 120px;
  }
}
