<div id="contentLogin" class="col-xs-12">
	<div class="row">
		<img id="logoApp" class="col-xs-push-2 col-xs-3 col-sm-push-2 col-sm-3 col-md-push-3 col-md-2 col-lg-push-3 col-lg-2 imgSizeSuperXs imgSizeXs imgSizeXsBis imgSizeSm imgSizeMd imgSizeLg" src="/app/Pictures/hades-logo.png">
		<div id="nameApp" class="col-xs-push-2 col-xs-4 col-sm-push-2 col-sm-4 col-md-push-3 col-md-2 col-lg-push-3 col-lg-4 textSizeSuperXs textSizeXs textSizeXsBis textSizeSm textSizeMd textSizeLg">HADES</div>
	</div>
	<form id="formConnection" class="col-xs-12" method="post">
		<div class="row">
		    <div class="form-group col-xs-12 col-sm-push-2 col-sm-8 col-md-push-3 col-md-6 col-lg-push-4 col-lg-4">
		      	<label for="login">Login</label>
		      	<input type="text" id="login" class="form-control" nameplaceholder="Enter your login"/>
		    </div>
		</div>
		<div class="row">
		    <div class="form-group col-xs-12 col-sm-push-2 col-sm-8 col-md-push-3 col-md-6 col-lg-push-4 col-lg-4">
		      	<label for="password">Password</label>
		        <input type="password" id="password" class="form-control" name="password"/>
		    </div>
		</div>
		<button id="Submit" class="btn btn-default btnStyle col-lg-push-4 col-lg-2" type="submit">Sign in</button>    
		<a routerLink="/create-account" routerLinkActive="active" id="createAccount" class="btn btn-default btnStyle col-lg-push-4 col-lg-2">Create account</a>
	</form>
</div>