<div *ngIf="vm">
	<div id="mainDetail" class="container-fluid phone">
		<div class="row">
			<div *ngIf="displayMessageBoxBackUp" id ="boxBackUp" class="col-xs-10 col-sm-8 col-md-8 col-lg-6 container-fluid boxInfo">
				<div class="row">
					<h2>Back up</h2>
					<div id="BtnsBackUp" class="col-xs-12">	
						<button id="createBakup" class="btn btn-default col-xs-push-1 col-xs-4" (click)="back()">Create Backup</button>
						<button id="restoreBackup" class="btn btn-default col-xs-push-3 col-xs-4" (click)="restoreVm()">Restore VM</button>
					</div>
				</div>      
			</div>
			<div *ngIf="displayMessageBoxBackUpPleaseStopVM" id ="boxStopVmBackUp" class="col-xs-10 col-sm-8 col-md-8 col-lg-6 container-fluid boxInfo">
				<div class="row">
					<h2 class="pleaseWait">Please stop VM before restoring</h2>
					<button class="quitErrorPopup" class="btn btn-default col-xs-push-4 col-xs-4" type="submit" (click)="back()">OK</button> 	
				</div>
			</div>
			<div *ngIf="displayMessageBoxConsolePleaseStartVM" id ="boxStartVmConsole" class="col-xs-10 col-sm-8 col-md-8 col-lg-6 container-fluid boxInfo">
				<div class="row">
					<h2 class="pleaseWait">Please start VM to display console</h2>
					<button class="quitErrorPopup" class="btn btn-default col-xs-push-4 col-xs-4" type="submit" (click)="back()">OK</button> 	
				</div>
			</div>
			<div *ngIf="boxWait" id ="boxWait" class="col-xs-10 col-sm-8 col-md-8 col-lg-6 container-fluid boxInfo">
				<div class="row">
					<h1 class="pleaseWait">Please wait</h1>	
				</div>
			</div>
			<div *ngIf="displayMessageBoxStop" id ="detailStopVm" class="col-xs-10 col-sm-8 col-md-8 col-lg-6 container-fluid boxInfo">
				<div class="row">
					<div *ngIf="errorStop" id="errorDivFailStop" class="errorDivFail">
						<h2 class="errorTitle">Error : vm did not stop</h2>	
						<button class="quitErrorPopup" class="btn btn-default col-xs-push-4 col-xs-4" type="submit" (click)="back()">OK</button>    
					</div>
					<div *ngIf="errorNotStarted" id="errorDivNotStopped" class="errorDivFail">
						<h2 class="errorTitle">Error : vm is not started</h2>	
						<button class="quitErrorPopup" class="btn btn-default col-xs-push-4 col-xs-4" type="submit" (click)="back()">OK</button>    
					</div>
					<div *ngIf="vmIsStop" id="successDivStopped" class="successDiv">
						<h2 class="successTitle">Vm is stopped</h2>	
						<button class="quitSuccessPopup" class="btn btn-default col-xs-push-4 col-xs-4" type="submit" (click)="back()">OK</button>    
					</div>
				</div>
			</div>
			<div *ngIf="displayMessageBoxStart" id ="detailStartVm" class="col-xs-10 col-sm-8 col-md-8 col-lg-6 container-fluid boxInfo">
				<div class="row">
					<div *ngIf="errorStart" id="errorDivFailStart" class="errorDivFail">
						<h2 class="errorTitle">Error : vm did not start</h2>	
						<button class="quitErrorPopup" class="btn btn-default col-xs-push-4 col-xs-4" type="submit" (click)="back()">OK</button>    
					</div>
					<div *ngIf="errorAlreadyStart" id="errorDivAlreadyStarted" class="errorDivFail">
						<h2 class="errorTitle">Error : vm is already started</h2>	
						<button class="quitErrorPopup" class="btn btn-default col-xs-push-4 col-xs-4" type="submit" (click)="back()">OK</button>    
					</div>
					<div *ngIf="vmIsStart" id="successDivStarted" class="successDiv">
						<h2 class="successTitle">Vm is started</h2>	
						<button class="quitSuccessPopup" class="btn btn-default col-xs-push-4 col-xs-4" type="submit" (click)="back()">OK</button>    
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="cpuDetail" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 cadreMain">
				<h3>CPU details</h3>
				<div *ngIf="vmMonitoring" class="divInfos">
					<p class="CPUDetails">Status CT : {{vmMonitoring.status}}</p>
					<p class="CPUDetails">Uptime :    {{upTimeDate}}</p>
					<p class="CPUDetails">CPU usage : {{usageCPU}}%</p>
					<p class="CPUDetails">Nb cores :  {{vmMonitoring.cpus}}</p>
				</div>
			</div> 
			<div id="ramDetail" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 cadreMain">
				<h3>RAM detail</h3>
				<div *ngIf="vmMonitoring" class="divInfos">
					<p class="CPUDetails">Memory usage: {{usageRam}}</p>
					<p class="CPUDetails">Max memory : {{maxRam}}</p>
					<p class="CPUDetails">Memory Swap : {{vmMonitoring.swap}}%</p>
					<p class="CPUDetails">Max Swap :  {{vmMonitoring.maxswap}}</p>
				</div>
			</div>
		</div>
		<div id="subDetails" class="row">
			<div id="storageDetail" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 cadreMain">
				<h3>Storage detail</h3>
			</div>
			<div id="btnsVm" class="cadreMain col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="container-fluid">
					<div id="ligne1BtnsVm" class="row">
						<div id="divBtnStartVm" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cellBtnVm">
							<a id="BtnStartVm" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-default btnVm" (click)="startVmUser()"><p class="contentBtn">Start VM</p></a>
						</div>
						<div id="divBtnStopVm" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cellBtnVm">
							<a id="BtnStopVm" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-default btnVm" (click)="stopVmUser()"><p class="contentBtn" >Stop VM</p></a>
						</div>
					</div>
					<div id="ligne2BtnsVm" class="row">
						<div id="divBtnConsoleVm" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cellBtnVm">
							<a id="BtnConsoleVm" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-default btnVm" (click)="openTabConsole()"><p class="contentBtn">Console VM</p></a>
						</div>
						<div id="divBtnBackUpVm" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cellBtnVm">	
							<a id="BtnBackUpVm" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-default btnVm" (click)="backUpVmUser()"><p class="contentBtn">Backup VM</p></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
