<div *ngIf="vm">
	<div id="mainDetail" class="container-fluid phone">
		<div class="row">
			<div id="cpuDetail" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 cadreMain">
				<h4>CPU details</h4>
			</div> 
			<div id="ramDetail" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 cadreMain">
				<h4>RAM detail</h4>
			</div>
		</div>
		<div id="subDetails" class="row">
			<div id="storageDetail" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 cadreMain">
				<h4>Storage detail</h4>
			</div>
			<div id="btnsVm" class="cadreMain col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="container-fluid">
					<div id="ligne1BtnsVm" class="row">
						<div id="divBtnStartVm" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cellBtnVm">
							<a id="BtnStartVm" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-default btnVm"><p class="contentBtn">Start VM</p></a>
						</div>
						<div id="divBtnStopVm" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cellBtnVm">
							<a id="BtnStopVm" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-default btnVm"><p class="contentBtn">Stop VM</p></a>
						</div>
					</div>
					<div id="ligne2BtnsVm" class="row">
						<div id="divBtnConsoleVm" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cellBtnVm">
							<a id="BtnConsoleVm" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-default btnVm"><p class="contentBtn">Console VM</p></a>
						</div>
						<div id="divBtnBackUpVm" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cellBtnVm">	
							<a id="BtnBackUpVm" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-default btnVm"><p class="contentBtn">Backup VM</p></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>